# Environments
**/venv/
**/venv_local/
**/.venv/
**/.env

# Python caching
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Django local DB and media
**/db.sqlite3
**/media/

# Flutter build and tool outputs
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/android/app/build/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# IDE configuration
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Temporary files
*.zip
*.tar.gz
*.log

# Presentation files
Proposal_Sunum/
Final_Sunum_Rapor/

